.future {
    color: #fff;
    height: 350px;
    width: 100%;
    background-color: rgba(234, 235, 238, 0.3);
    background-image: url('../../media/about-preview.png');
}

.about__text {
    margin-top: 5rem;
}

.princip__title {
    font-size: 4rem;
    line-height: 4rem;
    color: var(--color-text-grey);
    font-weight: 700;
    margin-top: 5rem;
}

.princip__subtitle {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--color-melange-grey);
    margin-top: 10px;
}

.princip__block-first {
    margin-top: 50px;
}

.princip__block-second {
    margin-top: 25px;
}

.princip__block-fx {
    display: flex;
    flex: 0 1 auto;
}

.princip__box {
    max-width: 540px;
    height: 370px;
    background-color: var(--color-grey-linux);
}

.princip__box-title {
    font-size: 10rem;
    line-height: 10rem;
    color: #fff;
    font-weight: 700;
    text-align: right;
    padding-top: 2rem;
    padding-right: 2rem;
}

.princip__box-text {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--color-text-grey);
    text-align: left;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
}

.about__integrity-title {
    max-width: 100%;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--color-text-grey);
    font-style: italic;
    margin-top: 7rem;
    margin-bottom: 7rem;
    border-top: 1px solid var(--color-text-grey);
    border-bottom: 1px solid var(--color-text-grey);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.about__attributes {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__attributes-text {
    min-width: 240px;
    max-width: 270px;
    flex: 0 1 auto;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-left: 1.2rem;
    color: var(--color-text-grey);
}

.attributes__end {
    justify-content: flex-end;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.hr-attributes__end {
    width: 880px;
    height: 1px;
    background-color: var(--color-text-grey);
    position: relative;
    top: 40px;
    left: 297px;
}

.future__block {
    position: relative;
    right: 9rem;
}

.future__title {
    font-size: 64px;
    line-height: 64px;
    font-style: italic;
    padding-top: 10rem;
}

.future__subtitle {
    font-size: 2rem;
    line-height: 2rem;
    color: #fff;
    font-weight: 700;
}

.future__subtitle-two {
    font-size: 20px;
    line-height: 2rem;
    color: #fff;
    font-weight: 700;
}

.about__text-block {
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text-grey);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 460px) {
    .future__title {
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
    }

    .future__subtitle {
        text-align: center;
        font-size: 1rem;
        line-height: 1rem;
    }

    .about__text-block {
        text-align: center;
    }

    .about__attributes-text {
        text-align: center;
    }

    .princip__title {
        font-size: 1.9rem;
        line-height: 1.9rem;
        text-align: center;
    }

    .princip__subtitle {
        text-align: center;
    }

    .princip__mobile-img {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .future__block {
        right: 0;
        text-align: center;
    }

    .img {
        max-width: 90%;
    } 
    
    .hr-attributes__end {
        max-width: 100%;
        left: 0;
    }

    .princip__block-fx {
        flex-direction: column;
        align-content: center;
        max-width: 100%;
    }

    .about__integrity-title {
        text-align: center;
        padding: 1rem;
        margin: 1rem;
    }

    .about__attributes {
        justify-content: center;
    }

    .attributes__end {
        margin: 4rem;
    }
}