:root {
    --color-black-blue: #002846;
    --color-title-blue: #004578;
    --color-text-grey: #2E363E;
    --color-btn-blue: #34547A;
    --color-base-white: #fff;
    --color-primary-red: #9B231F;
    --color-header-hover: #CBD6E1;
    --color-melange-grey: #8D8D8D;
    --color-border-blue: #457192;
    --color-background-grey: #F5F5F5;
    --color-bg-steelBlue: #4682B4;
    --color-auth-bg-blue: #ECEFF4;
    --color-grey-linux: #EAEBEE;
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
    --fone: #CBD4DF;
}
