.mt-84{
    margin-top: 84px;
}
.mt-50{
    margin-top: 50px;
}
.mt-40{
    margin-top: 40px;
}
.mt-30{
    margin-top: 30px;
}
.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}
